

/*------------------------------------------------------------------------------------------------------------------------------------*/
/*
GENERAL CLASSES
 */
*{
    dark-primary-color: #0e1d24;
    dark-primary-color-hover: #11353e;
    hyperlink-color: #17c5f1;
    hyperlink-color-disabled: #0a6270;
    default-primary-color: #607D8B;
    light-primary-color: #CFD8DC;
    text-primary-color: #FFFFFF;
    accent-color: #ffb523;
    accent-color-darker: #cb921d;
    primary-text-color: #212121;
    secondary-text-color: #757575;
    divider-color: #BDBDBD;

    text-and-highlight-color: #ff00f0;
    default-color: #00f3ff;
    empty-color: rgb(255, 255, 255);
    notempty-color: rgb(255, 181, 35);
    selectable-color: rgb(146, 255, 88);

    -fx-background-color: dark-primary-color;
    -fx-border-width: 1px;
    -fx-border-color: accent-color;
    /*-fx-padding: 2;*/

    -fx-font-family: monospace;
    -fx-text-fill: accent-color;
}

.weirdPadding{
    -fx-padding: 4px;
}
.weirdPadding:hover{
    -fx-padding: 10px;
}

/*radiobutton*/
.radio-button{
    -fx-font-size: 15px;
}
.radio-button .radio{
    -fx-border-width: 0px;
    -fx-background-color: dark-primary-color;
    -fx-border-width: 2px;
    -fx-border-color: accent-color;
    -fx-border-radius: 130px;
}
.radio-button .radio:hover{
    -fx-background-color: dark-primary-color-hover;
}
.radio-button:focused .radio{
    -fx-border-color: accent-color;
    -fx-border-width: 3px;
    -fx-border-radius: 130px;
}
.radio-button:selected .radio{
    -fx-border-color: accent-color;
    -fx-background-color: accent-color;
    -fx-border-width: 2px;
    -fx-border-radius: 130px;
}
.radio-button:selected{
    -fx-text-fill: accent-color;
    -fx-font-weight: bold;
}




/*------------------------------------------------------------------------------------------------------------------------------------*/
/*
SPECIFIC CLASSES
 */

/*------------------------------------------------------------------*/
/*interactive section*/

/*------------------------------1*/
/*1-selector section*/

/*------------------------------2*/
/*2-information section*/

/*------------------------------------------------------------------*/
/*game section*/

/*------------------------------1*/
/*1-state section*/

/*------------------------------2*/
/*2-killshot track section*/
.emptyKillShotTrackBackground{ /*probably not used*/
    -fx-background-color: default-color;
}
/*2.1-killshot track VBox*/
.killShotTrackBackground{
    -fx-background-color: default-color;
}
/*2.1.n-killshot n-th kill background & main image*/
.killSlotBackground{
    -fx-background-color: default-color;
}
.emptyKillSlot{
    -fx-background-color: empty-color;
}
.emptyKillSlotFF{
    -fx-background-color: empty-color;
}
.skull{
    -fx-background-color: notempty-color;
}
.killGreen{
    -fx-background-color: green;
}
.overKillGreen{
    -fx-background-color: green;
}
.killYellow{
    -fx-background-color: yellow;
}
.overKillYellow{
    -fx-background-color: yellow;
}
.killBlue{
    -fx-background-color: blue;
}
.overKillBlue{
    -fx-background-color: blue;
}
.killGray{
    -fx-background-color: gray;
}
.overKillGray{
    -fx-background-color: gray;
}
.killPurple{
    -fx-background-color: purple;
}
.overKillPurple{
    -fx-background-color: purple;
}
/*------------------------------3*/
/*3-player section*/
.emptyPlayerSectionBackground{/*probably not used*/
    -fx-background-color: default-color;
}
/*3.1-player HBox*/
.playerSectionBackground{
    -fx-background-color: default-color;
}
/*3.1.1-players power up cards*/
.powerUpCardsBackground{
    -fx-background-color: default-color;
}
/*3.1.1.1-power up cards title*/
.powerUpCardsTitleBackground{
    -fx-background-color: default-color;
}
/*3.1.1.2-power up cards images*/
.powerUpCardsBackground{
    -fx-background-color: default-color;
}
.powerUpCardBackground{
    -fx-background-color: default-color;
}
.powerUpCardMainImage {
    -fx-background-color: notempty-color;
}
.emptyPowerUpCardMainImage{
    -fx-background-color:  empty-color;
}
.powerUpCard1{
     -fx-background-color: rgb(180,255,90);
}
.powerUpCard2{
     -fx-background-color: rgb(180,255,90);
}
 .powerUpCard3{
     -fx-background-color: rgb(90,90,180);
}
.powerUpCard4{
      -fx-background-color: rgb(0,180,255);
}
.powerUpCard5{
       -fx-background-color: rgb(255,1,32);
}
.powerUpCard6{
       -fx-background-color: rgb(180,32,12);
}
.powerUpCard7{
       -fx-background-color: rgb(0,10,20);
}
.powerUpCard8{
        -fx-background-color: rgb(10,20,30);
}
.powerUpCard9{
     -fx-background-color: rgb(20,30,40);
 }
 .powerUpCard10{
     -fx-background-color: rgb(30,40,50);
}
.powerUpCard11{
     -fx-background-color: rgb(60,70,80);
 }
.powerUpCard12{
      -fx-background-color: rgb(90,100,110);
}
.powerUpCard13{
     -fx-background-color: rgb(100,110,120);
}
.powerUpCard14{
     -fx-background-color: rgb(3,43,98);
}
 .powerUpCard15{
     -fx-background-color: rgb(190,90,180);
}
.powerUpCard16{
      -fx-background-color: rgb(0,180,255);
}
.powerUpCard17{
       -fx-background-color: rgb(255,0,0);
}
.powerUpCard18{
       -fx-background-color: rgb(180,55,0);
}
.powerUpCard19{
       -fx-background-color: rgb(0,90,18);
}
.powerUpCard20{
        -fx-background-color: rgb(0,10,255);
}
.powerUpCard21{
     -fx-background-color: rgb(25,1,2);
 }
 .powerUpCard22{
     -fx-background-color: rgb(80,255,90);
}
.powerUpCard23{
     -fx-background-color: rgb(9,90,180);
 }
.powerUpCard24{
      -fx-background-color: rgb(92,23,90);
}
/*3.1.2-player main statistics*/
.playerStatisticsBackground{
    -fx-background-color: default-color;
}
/*3.1.2[0,0]- players marks*/
.marksBackground{
    -fx-background-color: default-color;
}
.markBackground{
    -fx-background-color: default-color;
}
.markGreen{
    -fx-background-color: green;
}
.markYellow{
    -fx-background-color: yellow;
}
.markBlue{
    -fx-background-color: blue;
}
.markPurple{
    -fx-background-color: purple;
}
.markGray{
    -fx-background-color: gray;
}
.markEmpty{
    -fx-background-color: notempty-color;
}
/*3.1.2[0,1]- player damages & deaths*/
.playerDamageAndDeathsBackground{
    -fx-background-color: default-color;
}
/*3.1.2[0,1].1 - player damages*/
.damagesBackground{
    -fx-background-color: default-color;
}
.damageBackground{
    -fx-background-color: default-color;
}
.damageBackgroundFB{
    -fx-background-color: default-color;
}
.damageBackgroundAG{
    -fx-background-color: default-color;
}
.damageBackgroundAS{
    -fx-background-color: default-color;
}
.damageBackgroundK{
    -fx-background-color: default-color;
}
.damageBackgroundOK{
    -fx-background-color: default-color;
}
.damageBackgroundEXTRA{
    -fx-background-color: default-color;
}
.damageGreen{
    -fx-background-color: green;
}
.damageYellow{
    -fx-background-color: yellow;
}
.damageBlue{
    -fx-background-color: blue;
}
.damagePurple{
    -fx-background-color: purple;
}
.damageGray{
    -fx-background-color: gray;
}
.damageEmpty{
    -fx-background-color: empty-color;
}
/*3.1.2[0,1].2 - player deaths*/
.deathsBackground{
    -fx-background-color: default-color;
}
.deathBackground{
    -fx-background-color: default-color;
}
.deathSkull{
    -fx-background-color: notempty-color;
}
.deathEmpty{
    -fx-background-color: empty-color;
}
.deathPointsStyle{
}
/*3.1.2[1,0]- player nickname*/
.nicknameBackground{
    -fx-background-color: default-color;
}

.nicknameBackgroundGray{
 -fx-background-color: gray;
}

.nicknameBackgroundYellow{
-fx-background-color: yellow;}

.nicknameBackgroundGreen{
 -fx-background-color: green;
 }

.nicknameBackgroundPurple{
 -fx-background-color: purple;
}

.nicknameBackgroundBlue{
 -fx-background-color: blue;
 }

.nicknameStyle{
}
/*3.1.2[1,1]- player ammo box*/
.ammoBoxBackground{
    -fx-background-color:default-color;
}
.ammoBackground{
    -fx-background-color:default-color;
}
.emptyAmmo{
    -fx-background-color: empty-color;
}
.ammoRed{
    -fx-background-color: red;
}
.ammoBlue{
    -fx-background-color: blue;
}
.ammoYellow{
    -fx-background-color: yellow;
}
/*3.1.3-player weapon cards*/
.weaponCardsBackground{
    -fx-background-color:default-color;
}
/*3.1.3.1-weapon cards title*/
.weaponCardsTitleBackground{
    -fx-background-color:default-color;
}
/*3.1.3.2-weapon cards images*/
.weaponCardsBackground{
    -fx-background-color:default-color;
}
.weaponCardBackground{
    -fx-background-color:default-color;
}
.weaponCardMainImage{
    -fx-background-color: notempty-color;
}
.emptyWeaponCardMainImage{
    -fx-background-color: empty-color;
}
/*example class for weaponCard */
.weaponCard1{
    -fx-background-color: rgb(0,100,200,1);
}
.weaponCard2{
    -fx-background-color: rgb(10,110,190,1);
}
.weaponCard3{
    -fx-background-color: rgb(20,120,180,1);
}
.weaponCard4{
    -fx-background-color: rgb(30,130,170,1);
}
.weaponCard5{
     -fx-background-color: rgb(40,140,160,1);
 }
.weaponCard6{
     -fx-background-color: rgb(50,150,150,1);
 }
.weaponCard7{
     -fx-background-color: rgb(60,160,140,1);
 }
.weaponCard8{
     -fx-background-color: rgb(70,170,130,1);
 }
.weaponCard9{
    -fx-background-color: rgb(80,180,120,1);
}
.weaponCard10{
    -fx-background-color: rgb(90,190,110,1);
}
.weaponCard11{
    -fx-background-color: rgb(100,200,100,1);
}
.weaponCard12{
    -fx-background-color: rgb(110,10,90,1);
}
.weaponCard13{
     -fx-background-color: rgb(120,20,80,1);
 }
.weaponCard14{
     -fx-background-color: rgb(130,30,70,1);
 }
.weaponCard15{
     -fx-background-color: rgb(140,40,60,1);
 }
.weaponCard16{
     -fx-background-color: rgb(150,50,50,1);
 }
.weaponCard17{
    -fx-background-color: rgb(160,60,40,1);
}
.weaponCard18{
    -fx-background-color: rgb(170,70,30,1);
}
.weaponCard19{
    -fx-background-color: rgb(180,80,20,1);
}
.weaponCard20{
    -fx-background-color: rgb(190,90,10,1);
}
.weaponCard21{
     -fx-background-color: rgb(200,100,0,1);
 }
 /*example class for powerUp */

/*------------------------------3*/
/*4-board section*/
