

/*------------------------------------------------------------------------------------------------------------------------------------*/
/*
GENERAL CLASSES
 */







/*------------------------------------------------------------------------------------------------------------------------------------*/
/*
SPECIFIC CLASSES
 */

/*------------------------------------------------------------------*/
/*interactive section*/

        /*------------------------------1*/
        /*1-selector section*/

        /*------------------------------2*/
        /*2-information section*/

/*------------------------------------------------------------------*/
/*game section*/

        /*------------------------------1*/
        /*1-state section*/

        /*------------------------------2*/
        /*2-killshot track section*/
.emptyKillShotTrackBackground{

}
            /*2.1-killshot track VBox*/
.killShotTrackBackground{

}
                /*2.1.n-killshot n-th kill background & main image*/
.killSlotBackground{

}
.emptyKillSlot{

}
.emptyKillSlotFF{

}
.killGreen{

}
.overKillGreen{

}
.killYellow{

}
.overKillYellow{

}
.killBlue{

}
.overKillBlue{

}
.killGray{

}
.overKillGray{

}
.killPurple{

}
.overKillPurple{

}
        /*------------------------------3*/
        /*3-player section*/
.emptyPlayerSectionBackground{

}
                /*3.1-player HBox*/
.playerSectionBackground{

}
                /*3.1.1-players power up cards*/
.powerUpCardsBackground{

}
                        /*3.1.1.1-power up cards title*/
.powerUpCardsTitleBackground{

}
                        /*3.1.1.2-power up cards images*/
.powerUpCardBackground{

}
.powerUpCardMainImage {

}
.emptyPowerUpCardMainImage{

}
                /*3.1.2-player main statistics*/
.playerStatisticsBackground{

}
                        /*3.1.2[0,0]- players marks*/
.marksBackground{

}
.markBackground{

}
.markGreen{

}
.markYellow{

}
.markBlue{

}
.markPurple{

}
.markGray{

}
.markEmpty{

}
                        /*3.1.2[0,1]- player damages & deaths*/
.playerDamageAndDeathsBackground{

}
                                /*3.1.2[0,1].1 - player damages*/
.damagesBackground{

}
.damageBackground{

}
.damageGreen{

}
.damageYellow{

}
.damageBlue{

}
.damagePurple{

}
.damageGray{

}
.damageEmpty{

}
                                /*3.1.2[0,1].2 - player deaths*/
.deathsBackground{

}
.deathBackground{

}
.deathSkull{

}
.deathEmpty{

}
.deathPointsStyle{

}
                        /*3.1.2[1,0]- player nickname*/
.nicknameBackground{

}
.nicknameStyle{

}
                        /*3.1.2[1,1]- player ammo box*/
.ammoBoxBackground{

}
.ammoBackground{

}
.emptyAmmo{

}
.ammoRed{

}
.ammoBlue{

}
.ammoYellow{

}
                /*3.1.3-player weapon cards*/
.weaponCardsBackground{

}
                        /*3.1.3.1-weapon cards title*/
.weaponCardsTitleBackground{

}
                        /*3.1.3.2-weapon cards images*/
.weaponCardBackground{

}
.weaponCardMainImage{

}
.emptyWeaponCardMainImage{

}
        /*------------------------------3*/
        /*4-board section*/
