

/*------------------------------------------------------------------------------------------------------------------------------------*/
/*
GENERAL CLASSES
 */
*{
    dark-primary-color: #0e1d24;
    dark-primary-color-hover: #11353e;
    hyperlink-color: #17c5f1;
    hyperlink-color-disabled: #0a6270;
    default-primary-color: #607D8B;
    light-primary-color: #CFD8DC;
    text-primary-color: #FFFFFF;
    accent-color: #ffb523;
    accent-color-darker: #cb921d;
    primary-text-color: #212121;
    secondary-text-color: #757575;
    divider-color: #BDBDBD;

    text-and-highlight-color: #ff00f0;
    default-color: #00f3ff;
    empty-color: rgb(255, 255, 255);
    notempty-color: rgb(255, 181, 35);
    selectable-color: rgb(146, 255, 88);

    -fx-background-color: dark-primary-color;
    -fx-border-width: 1px;
    -fx-border-color: accent-color;
    /*-fx-padding: 2;*/

    -fx-font-family: monospace;
    -fx-text-fill: accent-color;
}

.weirdPadding{
    -fx-padding: 4px;
}
.weirdPadding:hover{
    -fx-padding: 10px;
}

/*radiobutton*/
.radio-button{
    -fx-font-size: 15px;
}
.radio-button .radio{
    -fx-border-width: 0px;
    -fx-background-color: dark-primary-color;
    -fx-border-width: 2px;
    -fx-border-color: accent-color;
    -fx-border-radius: 130px;
}
.radio-button .radio:hover{
    -fx-background-color: dark-primary-color-hover;
}
.radio-button:focused .radio{
    -fx-border-color: accent-color;
    -fx-border-width: 3px;
    -fx-border-radius: 130px;
}
.radio-button:selected .radio{
    -fx-border-color: accent-color;
    -fx-background-color: accent-color;
    -fx-border-width: 2px;
    -fx-border-radius: 130px;
}
.radio-button:selected{
    -fx-text-fill: accent-color;
    -fx-font-weight: bold;
}




/*------------------------------------------------------------------------------------------------------------------------------------*/
/*
SPECIFIC CLASSES
 */

/*------------------------------------------------------------------*/
/*interactive section*/

/*------------------------------1*/
/*1-selector section*/

/*------------------------------2*/
/*2-information section*/

/*------------------------------------------------------------------*/
/*game section*/

/*------------------------------1*/
/*1-state section*/

/*------------------------------2*/
/*2-killshot track section*/
.emptyKillShotTrackBackground{ /*probably not used*/
    -fx-background-color: default-color;
}
/*2.1-killshot track VBox*/
.killShotTrackBackground{
    -fx-background-color: default-color;
}
/*2.1.n-killshot n-th kill background & main image*/
.killSlotBackground{
    -fx-background-color: default-color;
}
.emptyKillSlot{
    -fx-background-color: empty-color;
}
.emptyKillSlotFF{
    -fx-background-color: empty-color;
}
.skull{
    -fx-background-color: notempty-color;
}
.killGreen{
    -fx-background-color: green;
}
.overKillGreen{
    -fx-background-color: green;
}
.killYellow{
    -fx-background-color: yellow;
}
.overKillYellow{
    -fx-background-color: yellow;
}
.killBlue{
    -fx-background-color: blue;
}
.overKillBlue{
    -fx-background-color: blue;
}
.killGray{
    -fx-background-color: gray;
}
.overKillGray{
    -fx-background-color: gray;
}
.killPurple{
    -fx-background-color: purple;
}
.overKillPurple{
    -fx-background-color: purple;
}
/*------------------------------3*/
/*3-player section*/
.emptyPlayerSectionBackground{/*probably not used*/
    -fx-background-color: default-color;
}

.playerYellow{/*probably not used*/
    -fx-background-color: rgb(255,255,0);
}
.playerGreen{/*probably not used*/
    -fx-background-color: rgb(0,255,0);
}
.playerPurple{/*probably not used*/
    -fx-background-color: rgb(0,255,255);
}
.playerGray{/*probably not used*/
    -fx-background-color: rgb(255,0,255);
}
.playerBlue{/*probably not used*/
    -fx-background-color: rgb(0,0,255);
}
/*3.1-player HBox*/
.playerSectionBackground{
    -fx-background-color: default-color;
}
/*3.1.1-players power up cards*/
.powerUpCardsBackground{
    -fx-background-color: default-color;
}
/*3.1.1.1-power up cards title*/
.powerUpCardsTitleBackground{
    -fx-background-color: default-color;
}
/*3.1.1.2-power up cards images*/
.powerUpCardsBackground{
    -fx-background-color: default-color;
}
.powerUpCardBackground{
    -fx-background-color: default-color;
}
.powerUpCardMainImage {
    -fx-background-color: notempty-color;
}
.emptyPowerUpCardMainImage{
    -fx-background-color:  empty-color;
}
.powerUpCard1{
      -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg0.png);

     -fx-background-size: contain;
      -fx-background-repeat: no-repeat;
                      -fx-background-position: center;


}
.powerUpCard2{
     -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg1.png);

            -fx-background-size: contain;
                 -fx-background-repeat: no-repeat;
                                 -fx-background-position: center;

}
 .powerUpCard3{
    -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg2.png);

            -fx-background-size: contain;
                -fx-background-repeat: no-repeat;
                          -fx-background-position: center;

}
.powerUpCard4{
     -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg3.png);
                -fx-background-size: contain;
                     -fx-background-repeat: no-repeat;
                               -fx-background-position: center;

}
.powerUpCard5{
       -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg4.png);
                  -fx-background-size: contain;
                       -fx-background-repeat: no-repeat;
                                 -fx-background-position: center;


}
.powerUpCard6{
      -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg5.png);
                 -fx-background-size: contain;
                      -fx-background-repeat: no-repeat;
                                -fx-background-position: center;

}
.powerUpCard7{
       -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg6.png);
                 -fx-background-size: contain;
                      -fx-background-repeat: no-repeat;
                 -fx-background-color: dark-background;
                                 -fx-background-position: center;

}
.powerUpCard8{
        -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg7.png);
                  -fx-background-size: contain;
                       -fx-background-repeat: no-repeat;
                                  -fx-background-position: center;

}
.powerUpCard9{
     -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg8.png);
                -fx-background-size: contain;
                     -fx-background-repeat: no-repeat;
                               -fx-background-position: center;

 }
 .powerUpCard10{
     -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg9.png);
               -fx-background-size: contain;
                    -fx-background-repeat: no-repeat;
                               -fx-background-position: center;

}
.powerUpCard11{
     -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg10.png);
               -fx-background-size: contain;
                    -fx-background-repeat: no-repeat;
                               -fx-background-position: center;

 }
.powerUpCard12{
     -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg11.png);
               -fx-background-size: contain;
                    -fx-background-repeat: no-repeat;
                               -fx-background-position: center;

}
.powerUpCard13{
     -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg12.png);
               -fx-background-size: contain;
                    -fx-background-repeat: no-repeat;
                               -fx-background-position: center;

}
.powerUpCard14{
    -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg13.png);
             -fx-background-size: contain;
                  -fx-background-repeat: no-repeat;
                              -fx-background-position: center;

}
 .powerUpCard15{
     -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg14.png);
              -fx-background-size: contain;
                   -fx-background-repeat: no-repeat;
                               -fx-background-position: center;

}
.powerUpCard16{
     -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg15.png);
                -fx-background-size: contain;
                     -fx-background-repeat: no-repeat;
                               -fx-background-position: center;

}
.powerUpCard17{
       -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg16.png);
                  -fx-background-size: contain;
                       -fx-background-repeat: no-repeat;
                                 -fx-background-position: center;

}
.powerUpCard18{
      -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg17.png);
                 -fx-background-size: contain;
                      -fx-background-repeat: no-repeat;
                                -fx-background-position: center;

}
.powerUpCard19{
      -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg18.png);
                 -fx-background-size: contain;
                      -fx-background-repeat: no-repeat;
                                -fx-background-position: center;

}
.powerUpCard20{
        -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg19.png);
                  -fx-background-size: contain;
                       -fx-background-repeat: no-repeat;
                                  -fx-background-position: center;

}
.powerUpCard21{
     -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg20.png);
               -fx-background-size: contain;
                    -fx-background-repeat: no-repeat;
                               -fx-background-position: center;

 }
 .powerUpCard22{
    -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg21.png);
               -fx-background-size: contain;
                    -fx-background-repeat: no-repeat;
                              -fx-background-position: center;

}
.powerUpCard23{
    -fx-background-image: url(../IMG/PowerUpCardsImages/puCardImg22.png);
              -fx-background-size: contain;
                   -fx-background-repeat: no-repeat;
                              -fx-background-position: center;

 }
/*3.1.2-player main statistics*/
.playerStatisticsBackground{
    -fx-background-color: default-color;
}
/*3.1.2[0,0]- players marks*/
.marksBackground{
    -fx-background-color: default-color;
}
.markBackground{
    -fx-background-color: default-color;
}
.markGreen{
    -fx-background-color: green;
}
.markYellow{
    -fx-background-color: yellow;
}
.markBlue{
    -fx-background-color: blue;
}
.markPurple{
    -fx-background-color: purple;
}
.markGray{
    -fx-background-color: gray;
}
.markEmpty{
    -fx-background-color: notempty-color;
}
/*3.1.2[0,1]- player damages & deaths*/
.playerDamageAndDeathsBackground{
    -fx-background-color: default-color;
}
/*3.1.2[0,1].1 - player damages*/
.damagesBackground{
    -fx-background-color: default-color;
}
.damageBackground{
    -fx-background-color: default-color;
}
.damageBackgroundFB{
    -fx-background-color: default-color;
}
.damageBackgroundAG{
    -fx-background-color: default-color;
}
.damageBackgroundAS{
    -fx-background-color: default-color;
}
.damageBackgroundK{
    -fx-background-color: default-color;
}
.damageBackgroundOK{
    -fx-background-color: default-color;
}
.damageBackgroundEXTRA{
    -fx-background-color: default-color;
}
.damageGreen{
    -fx-background-color: green;
}
.damageYellow{
    -fx-background-color: yellow;
}
.damageBlue{
    -fx-background-color: blue;
}
.damagePurple{
    -fx-background-color: purple;
}
.damageGray{
    -fx-background-color: gray;
}
.damageEmpty{
    -fx-background-color: empty-color;
}
/*3.1.2[0,1].2 - player deaths*/
.deathsBackground{
    -fx-background-color: default-color;
}
.deathBackground{
    -fx-background-color: default-color;
}
.deathSkull{
    -fx-background-color: notempty-color;
}
.deathEmpty{
    -fx-background-color: empty-color;
}
.deathPointsStyle{
}
/*3.1.2[1,0]- player nickname*/
.nicknameBackground{
    -fx-background-color: default-color;
}

.nicknameBackgroundGray{
-fx-background-image: url(../IMG/giphy.gif);
          -fx-background-size: auto 100%;
          -fx-background-color: dark-background;
}

.nicknameBackgroundYellow{
-fx-background-image: url(../IMG/giphy-8.gif);
          -fx-background-size: auto 100%;
          -fx-background-color: dark-background;
}

.nicknameBackgroundGreen{
          -fx-background-image: url(../IMG/giphy-7.gif);
           -fx-background-size: auto 100%;
           -fx-background-color: dark-background;
 }

.nicknameBackgroundPurple{
 -fx-background-image: url(../IMG/giphy-5.gif);
           -fx-background-size: auto 100%;
           -fx-background-color: dark-background;
}

.nicknameBackgroundBlue{
 -fx-background-image: url(../IMG/giphy-2.gif);
           -fx-background-size: auto 100%;
           -fx-background-color: dark-background;
 }

.nicknameStyle{
}
/*3.1.2[1,1]- player ammo box*/
.ammoBoxBackground{
    -fx-background-color:default-color;
}
.ammoBackground{
    -fx-background-color:default-color;
}
.emptyAmmo{
    -fx-background-color: empty-color;
}
.ammoRed{
    -fx-background-color: red;
}
.ammoBlue{
    -fx-background-color: blue;
}
.ammoYellow{
    -fx-background-color: yellow;
}
/*3.1.3-player weapon cards*/
.weaponCardsBackground{
    -fx-background-color:default-color;
}
/*3.1.3.1-weapon cards title*/
.weaponCardsTitleBackground{
    -fx-background-color:default-color;
}
/*3.1.3.2-weapon cards images*/
.weaponCardsBackground{
    -fx-background-color:default-color;
}
.weaponCardBackground{
    -fx-background-color:default-color;
}
.weaponCardMainImage{
    -fx-background-color: notempty-color;
}
.emptyWeaponCardMainImage{
    -fx-background-color: empty-color;
}
/*example class for weaponCard */
.weaponCard1{
     -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg1.png);

         -fx-background-size: contain;
          -fx-background-repeat: no-repeat;
                          -fx-background-position: center;

}
.weaponCard2{
     -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg2.png);

             -fx-background-size: contain;
              -fx-background-repeat: no-repeat;
                              -fx-background-position: center;
}
.weaponCard3{
    -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg3.png);

            -fx-background-size: contain;
             -fx-background-repeat: no-repeat;
                             -fx-background-position: center;
}
.weaponCard4{
     -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg4.png);

             -fx-background-size: contain;
              -fx-background-repeat: no-repeat;
                              -fx-background-position: center;
}
.weaponCard5{
      -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg5.png);

              -fx-background-size: contain;
               -fx-background-repeat: no-repeat;
                               -fx-background-position: center;
 }
.weaponCard6{
     -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg6.png);

             -fx-background-size: contain;
              -fx-background-repeat: no-repeat;
                              -fx-background-position: center;
 }
.weaponCard7{
     -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg7.png);

             -fx-background-size: contain;
              -fx-background-repeat: no-repeat;
                              -fx-background-position: center;
 }
.weaponCard8{
     -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg8.png);

             -fx-background-size: contain;
              -fx-background-repeat: no-repeat;
                              -fx-background-position: center;
 }
.weaponCard9{
    -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg9.png);

            -fx-background-size: contain;
             -fx-background-repeat: no-repeat;
                             -fx-background-position: center;
}
.weaponCard10{
    -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg10.png);

            -fx-background-size: contain;
             -fx-background-repeat: no-repeat;
                             -fx-background-position: center;
}
.weaponCard11{
     -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg11.png);

             -fx-background-size: contain;
              -fx-background-repeat: no-repeat;
                              -fx-background-position: center;
}
.weaponCard12{
   -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg12.png);

           -fx-background-size: contain;
            -fx-background-repeat: no-repeat;
                            -fx-background-position: center;
}
.weaponCard13{
      -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg13.png);

              -fx-background-size: contain;
               -fx-background-repeat: no-repeat;
                               -fx-background-position: center;
 }
.weaponCard14{
      -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg14.png);

              -fx-background-size: contain;
               -fx-background-repeat: no-repeat;
                               -fx-background-position: center;
 }
.weaponCard15{
      -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg15.png);

              -fx-background-size: contain;
               -fx-background-repeat: no-repeat;
                               -fx-background-position: center;
 }
.weaponCard16{
     -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg16.png);

             -fx-background-size: contain;
              -fx-background-repeat: no-repeat;
                              -fx-background-position: center;
 }
.weaponCard17{
    -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg17.png);

            -fx-background-size: contain;
             -fx-background-repeat: no-repeat;
                             -fx-background-position: center;
}
.weaponCard18{
    -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg18.png);

            -fx-background-size: contain;
             -fx-background-repeat: no-repeat;
                             -fx-background-position: center;
}
.weaponCard19{
    -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg19.png);

            -fx-background-size: contain;
             -fx-background-repeat: no-repeat;
                             -fx-background-position: center;
}
.weaponCard20{
     -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg20.png);

             -fx-background-size: contain;
              -fx-background-repeat: no-repeat;
                              -fx-background-position: center;
}
.weaponCard21{
      -fx-background-image: url(../IMG/WeaponCardsImages/wpCardImg21.png);

              -fx-background-size: contain;
               -fx-background-repeat: no-repeat;
                               -fx-background-position: center;
 }
 /*example class for powerUp */

/*------------------------------3*/
/*4-board section*/
